<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <h2><span data-splitting>Criminal Law</span></h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <!-- <div class="page_path">
                    <p><a href="#">home</a>  <i class="fas fa-circle"></i><a href="#"> services</a>  <i class="fas fa-circle"></i><a class="active" href="services_single.html"> traffic accident</a>
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</div>    <div class="inner_page_single">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-8 col-md-12 col-12">
                <div class="right_side_single">
                    <div class="right_side_single_img">
                        <img src="assets/images/traffic_accident.jpg" alt="img">
                    </div>
                    <p>We at Alliance Solicitors understand that being accused, arrested, charged, or investigated by the police for a criminal offence can not only be overwhelming but also unsettling. For many people it could be something they have never experienced before. We provide clear and straightforward legal advice and guide you throughout the whole process during this difficult time.

                        We will explain the circumstances to you of your case, advise you regarding your rights and possible options and
                        
                        further advise you on what the possible outcome could be in your matter.
                        
                        We aim to ensure that your rights are defended at all times throughout the process.
                        
                        We also understand that it is vital for you to receive the correct legal advice at the earliest possible opportunity.</p>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="left_side_single">
                    <div class="left_side_content">
                        <div class="left_side_content_list">
                            <h4>Expertise</h4>
                            <hr>
                            <ul>
                                <li><a  routerLink="/immigration">Immigration</a>
                                </li>
                                <li><a routerLink="/conveyancing">Conveyancing</a>
                                </li>
                                <li><a  routerLink="/company-law">Company Law</a>
                                </li>
                                <li><a  routerLink="/employement-law">Employment law</a>
                                </li>
                                <li><a  routerLink="/civil-ligitation">Civil & Commercial Ligitation</a>
                                </li>
                                <li><a  routerLink="/will-and-probates">Wills & Probate</a>
                                </li>
                                <li><a  routerLink="/family-law">Family Law</a>
                                </li>
                                <li><a class="active" routerLink="/criminal-law">Criminal Law</a>
                                </li>
                                <li><a routerLink="/contract-law">Contract Law</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="left_side_content">
                        <div class="consultation_box">
                            <h4>Free Consultation</h4>
                            <form>
                                <div class="form">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <input type="text" class="form-control require" name="full_name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <input type="email" class="form-control require" name="email" data-valid="email" data-error="Email should be valid." placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <textarea class="form-control" name="message" placeholder="Your case"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="response"></div>
                                    <input type="hidden" name="form_type" value="contact" />
                                    <button type="button" class="btn1 submitForm"><span>Send your case</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>SEE HOW ALLIANCE SOLICITOR CAN HELP YOU</h2>
                    <p>To arrange an intial consultation call now on  +44 (0) 20 8774 9481
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a routerLink="contact">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>