<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <!-- <h2 data-splitting>faq</h2> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <!-- <p><a href="#">home</a>  <i class="fas fa-circle"></i><a class="active" href="#">faq</a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="inner_page_single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-12">
                <div class="right_side_single">
                    <h2>Frequently Asked Questions</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              Why should I trust your firm for my case?
                            </a>
                          </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              What types of cases does your law firm handle?
                            </a>
                          </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              What are your opening hours?
                            </a>
                          </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                              Do you charge for consultations?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading4">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading5">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                              How much do you charge what does that cover?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading5">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading6">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                              I need more information about crime?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading6">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading7">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                              How many years have you been in business?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading7">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading8">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                              Can i ask lawyer quesion for free?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading8">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading9">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                              Do you provide the free lawyer services?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading9">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading10">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                              I need more information about crime?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading10">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading11">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                              Do you charge for consultations?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading11">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading12">
                                <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                              Can i ask lawyer quesion for free?
                            </a>
                          </h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading12">
                                <div class="panel-body">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="left_side_single">
                    <div class="left_side_content">
                        <div class="left_side_content_list">
                            <h4>Expertise</h4>
                            <hr>
                            <ul>
                                <li><a href="corporate_law.html">corporate law</a>
                                </li>
                                <li><a href="realestate_law.html">real estate law</a>
                                </li>
                                <li><a href="family_law.html">family law</a>
                                </li>
                                <li><a href="financial_law.html">financial law</a>
                                </li>
                                <li><a href="insurance.html">insurance</a>
                                </li>
                                <li><a href="civil_ligitation.html">civil ligitation</a>
                                </li>
                                <li><a href="environment.html">environment</a>
                                </li>
                                <li><a href="traffic_accident.html">traffic accident</a>
                                </li>
                                <li><a href="property_law.html">propert law</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="left_side_content">
                        <div class="consultation_box">
                            <h4>contact us</h4>
                            <form>
                                <div class="form">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <input type="text" class="form-control require" name="full_name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <input type="email" class="form-control require" name="email" data-valid="email" data-error="Email should be valid." placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <textarea class="form-control" name="message" placeholder="Your case"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="response"></div>
                                    <input type="hidden" name="form_type" value="contact" />
                                    <button type="button" class="btn1 submitForm"><span>Send your case</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>SEE HOW ALLIANCE SOLICITOR CAN HELP YOU</h2>
                    <p>To arrange an intial consultation call now on  +44 (0) 20 8774 9481
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a routerLink="contact">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>