<div class="index3_media">
    <ul>
        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li> <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li> <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </li>
    </ul>
</div>
<a  id="return-to-top"> <i class="fas fa-angle-double-up"></i>
</a>
<!-- Top Scroll End -->
<div class="top_header_1">
    <div class="container-fluid custom_container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-12">
                <div class="left_side"> <a href="#"><i class="far fa-envelope"></i><span>info@alliancesolicitors.com</span></a>
                    <a href="#"><i class="fas fa-map-marker-alt"></i><span>38 London Rd, Croydon CRO 2TA, United Kingdom</span></a>
                    <a href="#"><i class="fas fa-phone-alt"></i><span>+44 (0) 20 8774 9481 </span></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="right_side">
                    <ul>
                        <li><a href="#">follow us :</a>
                        </li>
                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li> <a href=""><i class="fab fa-twitter"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--top header end-->
<!---sidebar start -->
<div class="rp_mobail_menu_main_wrapper d-block d-sm-block d-md-block d-lg-none d-xl-none">
    <div id="sidebar">
        <div class="logo">
            <img src="assests/images/logo2.png" alt="logo">
        </div>
        <div id="toggle_close">&times;</div>
        <div id="cssmenu" class="wd_single_index_menu">
            <ul>
                <li>
                    <form class="sidebar_search">
                        <input type="search" placeholder="Search..." />
                        <button> <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </li>
                <li class="has-sub"> <a href="index.html">home</a>
                    <ul>
                        <li><a href="index.html">home 01</a>
                        </li>
                        <li><a href="index2.html">home 02</a>
                        </li>
                        <li><a href="index3.html">home 03</a>
                        </li>
                        <li><a href="index4.html">home 04</a>
                        </li>
                        <li><a href="index5.html">home 05</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub"><a href="404_page.html">pages</a>
                    <ul>
                        <li class="has-sub"><a href="javascript:;">about us</a>
                            <ul>
                                <li><a href="about-us-1.html">about us 1</a>
                                </li>
                                <li><a href="about-us-2.html">about us 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="pricing-plans.html">our pricing</a>
                        </li>
                        <li class="has-sub"><a href="our-gallery.html">our gallery</a>
                            <ul>
                                <li><a href="our-gallery-2.html">2 columns</a>
                                </li>
                                <li><a href="our-gallery-3.html">3 columns</a>
                                </li>
                                <li><a href="our-gallery-4.html">4 columns</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="comming-soon.html">comming-soon</a>
                        </li>
                        <li><a href="maintenance.html">maintenance</a>
                        </li>
                        <li><a href="faq.html">faqs</a>
                        </li>
                        <li class="has-sub"><a href="contact_us.html">Contact</a>
                            <ul>
                                <li><a href="contact-us-1.html">contact us 1</a>
                                </li>
                                <li><a href="contact-us-2.html">contact us 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="404_page.html">404</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub"><a href="attorneys.html">attorneys</a>
                    <ul>
                        <li><a href="attorneys.html">our attorneys</a>
                        </li>
                        <li><a href="attorney-single-1.html">single attorney 1</a>
                        </li>
                        <li><a href="attorney-single-2.html">single attorney 2</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub"> <a href="practice-area.html">practice areas</a>
                    <ul>
                        <li><a href="corporate_law.html">Corporate law</a>
                        </li>
                        <li><a href="insurance.html">Insurance</a>
                        </li>
                        <li><a href="family_law.html">Family Law</a>
                        </li>
                        <li><a href="realestate_law.html">Real Estate law</a>
                        </li>
                        <li><a href="civil_ligitation.html">Civil Ligitation</a>
                        </li>
                        <li><a href="traffic_accident.html">Traffic Accident</a>
                        </li>
                        <li><a href="financial_law.html">Financial Law</a>
                        </li>
                        <li><a href="environment.html">Environment</a>
                        </li>
                        <li><a href="property_law.html">Propert Law</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub"> <a href="blog.html">blog</a>
                    <ul>
                        <li><a href="blog-left-column.html">2 columns-left sidebar</a>
                        </li>
                        <li><a href="blog-right-column.html">2 columns-right sidebar</a>
                        </li>
                        <li><a href="blog-colum-2.html">2 columns</a>
                        </li>
                        <li><a href="blog-column-3.html">3 columns</a>
                        </li>
                        <li><a href="blog-column-4.html">4 columns</a>
                        </li>
                        <li><a href="blog-column-5.html">5 columns</a>
                        </li>
                        <li><a href="blog_single.html">Blog Single</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub"><a href="javascript:;">case</a>
                    <ul>
                        <li class="has-sub"><a href="javascript:;">case gride</a>
                            <ul>
                                <li><a href="case-grid-2.html">2 column</a></li>
                                <li><a href="case-grid-3.html">3 column</a></li>
                                <li><a href="case-grid-4.html">4 column</a></li>
                                <li><a href="case-grid-5.html">5 column</a></li>
                            </ul>
                        </li>
                        <li><a href="single-case.html">single case</a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub"><a href="javascript:;">shop</a>
                    <ul>
                        <li class="has-sub"><a href="javascript:;">shop gride</a>
                            <ul>
                                <li><a href="shop_three_page.html">3 column</a></li>
                                <li><a href="shop-four.html">4 column</a></li>
                                <li><a href="shop-sidebar.html">Shop Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="shop_single_page.html">shop single page</a>
                        </li>
                        <li><a href="cart.html">cart</a>
                        </li>
                        <li><a href="checkout.html">check out</a>
                        </li>
                        <li><a href="my-account.html">my account</a>
                        </li>
                    </ul>
                </li>
                <li><a routerLink="contact">Get Quote</a>
                </li>
                <li><a href="contact-us-1.html">contact</a>
                </li>
                
            </ul>
        </div>
        <div class="sidebar_block">
            <div class="email_side"> <a href="#"><i
                        class="far fa-envelope"></i><span>seabourn@exampal.com</span></a>
            </div>
            <div class="media_side1">
                <ul>
                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li> <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li> <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="slider">
<div class="menu_wrapper header-area hidden-menu-bar stick">
    <div class="container-fluid">
        <div class="menu_wrapper_mn">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-2 col-sm-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo.png" alt="logo">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-10 col-sm-10">
                            <div id="toggle" class="d-block d-sm-block d-md-block d-lg-none d-xl-none"><i
                                    class="fas fa-align-left"></i>
                            </div>
                            <div class="main_btn hidden_btn"> <a routerLink="contact">Get Quote</a>
                            </div>
                        
                            <nav
                                class="navbar navbar-expand-sm d-xl-block d-lg-block d-md-none d-sm-none d-none">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbar-list-3" aria-expanded="false"
                                    aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                                </button>
                                <!-- Links -->
                                <ul class="nav navbar-nav" id="nav_filter">
                                    <li class="nav-item dropdown"> <a class="nav-link  active"
                                           routerLink='/'>
                                            home
                                        </a>
                                       
                                    </li>

                                    <li class="nav-item dropdown"> <a class="nav-link "
                                        routerLink='about-us' data-toggle="dropdown">
                                            About us
                                        </a>
                                       
                                </li>
                                <li class="nav-item dropdown"> <a routerLink='pricing'>Our Pricing</a>
                                </li>
                                    <!-- <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle"
                                            href="attorneys.html" data-toggle="dropdown">
                                            Attorneys
                                        </a>
                                        <ul class="sub_menu">
                                            <li> <a routerLink='our-attorneys'>our Attorneys</a>
                                            </li>
                                            <li> <a routerLink='single-attorneys'>single Attorney</a>
                                            </li>
                                        </ul>
                                    </li> -->
                                    <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle"
                                           data-toggle="dropdown">
                                            Services
                                        </a>
                                        <div class="hovr_nav_tab">
                                            <div class="mega_menu">
                                                <div class="mega_30">
                                                    <ul>
                                                        <li><a routerLink="immigration">Immigration</a>
                                                        </li>
                                                        <li><a routerLink="employement-law">Employment Law</a>
                                                        </li>
                                                        <li><a routerLink="family-law">Family Law</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="mega_30">
                                                    <ul>
                                                        <li><a routerLink="conveyancing">Conveyancing</a>
                                                        </li>
                                                        <li><a routerLink="civil-ligitation">Civil  Litigation</a>
                                                        </li>
                                                        <li><a routerLink="criminal-law">Criminal Law</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="mega_30">
                                                    <ul>
                                                        <li><a routerLink="company-law">Company Law</a>
                                                        </li>
                                                        <li><a routerLink="will-and-probates">Wills & Probate</a>
                                                        </li>
                                                        <li><a routerLink="contract-law">Contract Law</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown"> <a class="nav-item" routerLink='contact'>Contact <span><i
                                        class="fas "></i></span></a>
                          
                        </li>
                                    <li class="nav-item dropdown"> <a class="nav-link "
                                             routerLink='blog'>
                                            blog
                                        </a>
                                      
                                    </li>
                                    <li class="nav-item dropdown"><a class="nav-link "
                                        routerLink='privarcy-policy'>Privarcy Policy
                                        </a>
                                     
                                </li>
                                <li class="nav-item dropdown"><a class="nav-link "
                                    routerLink='legal'  >Legal
                                    </a>
                             
                                </li>
                                <li class="nav-item dropdown"><a class="nav-link "
                                    routerLink='faq' >FAQ
                                </a>
                               
                        </li>
                               </ul>
                                
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>