<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="footer_content">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <p>Alliance Solicitor is regulated by the Solicitors Regulation Authority (Licence No : 631939)</p>
                    <div class="left_icon margine_top">
                        <ul>
                            <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li> <a href=""><i class="fab fa-twitter"></i></a>
                            </li>
                            <li> <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li class="ex_mar"> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="footer_content">
                    <h5>Contact Info</h5>
                    <div class="footer_list margine_top_class">
                        <ul>
                            <li>
                                <div class="left_icon"> <a href="#"><i class="fas fa-phone-alt"></i></a>
                                </div>
                                <div class="right_text"> <a href="#">+44 (0) 20 8774 9481</a>
                                    <br> <a href="#">+44 (0) 7909 095335</a>
                                </div>
                            </li>
                            <li>
                                <div class="left_icon"> <a href="#"><i class="fas fa-envelope"></i></a>
                                </div>
                                <div class="right_text"> <a href="#">info@alliancesolicitor.com</a>
                                </div>
                            </li>
                            <li>
                                <div class="left_icon"> <a href="#"><i class="fas fa-map-marker-alt"></i></a>
                                </div>
                                <div class="right_text"> <a href="#">Rear of 38 London Road, Cobblestone Place, Croydon, CRO 2TA United Kingdom</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          
            <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer_content">
                    <h5>Services</h5>
                    <div class="footer_list">
                        <ul>
                            <li><a href="corporate_law.html"><i class="fas fa-chevron-right"></i>Corporate Law</a>
                            </li>
                            <li><a href="realestate_law.html"><i class="fas fa-chevron-right"></i>Real Estate
                                    Law</a>
                            </li>
                            <li><a href="financial_law.html"><i class="fas fa-chevron-right"></i>Financial Law</a>
                            </li>
                            <li><a href="insurance.html"><i class="fas fa-chevron-right"></i>Insurance</a>
                            </li>
                            <li><a href="civil_ligitation.html"><i class="fas fa-chevron-right"></i>Civil
                                    Ligitation</a>
                            </li>
                            <li><a href="environment.html"><i class="fas fa-chevron-right"></i>Environment </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="footer_content">
                    <h5>Latest News</h5>
                    <div class="footer_list">
                        <div class="footer_box">
                            <div class="footer_box_img">
                                <img src="assets/images/footer_img1.jpg" alt="img">
                            </div>
                            <div class="footer_box_text">
                                <p><a href="index.html">Customer Focused</a></p> <a href="#">july 15, 2021</a>
                            </div>
                        </div>
                        <div class="footer_box">
                            <div class="footer_box_img">
                                <img src="assets/images/footer_img2.jpg" alt="img">
                            </div>
                            <div class="footer_box_text">
                                <p><a href="index.html">Customer Focused</a></p> <a href="#">july 15, 2021</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div>  <p style="margin-left: 20%;">Copyright:© 2022 The Content on this website is owned by us and our licensors</p></div>
    </div>
    
      
   
</footer>