<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <!-- <h2 data-splitting>attorney single </h2> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <!-- <p><a href="#">home</a> <i class="fas fa-circle"></i><a class="active" href="#"> attorney
                            single </a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our_team header_border_main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="header_border"> <i class="fas fa-balance-scale"></i>
                </div>
                <div class="heading_class">
                    <h2>Meet Our Attorney</h2>
                </div>
                <div class="paragraph_class">
                    <p>It is a long established fact that a reader will be distracted by the readable content
                        <br>of a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="margine_class">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="member_img">
                        <img src="assets/images/ot_image1.png" alt="image">
                        <div class="member_icon">
                            <ul>
                                <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li> <a href=""><i class="fab fa-twitter"></i></a>
                                </li>
                                <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="member-content">
                        <h4><a href= "attorney-single.html">Michael Lee</a></h4>
                        <h6><a href="attorney-single.html">Civil Lawyer</a></h6>
                        <p>They have easy-to-see navigation in the top right hand corner just underneath a
                            prominent phone number that’s placed next to a “free consultations/ no fees until
                            we win” message. This displays confidence in their abilities, but it also gives
                            viewers a reason to call by reminding them there’s no risk and no cost.</p>
                        <h3>Personal Statement</h3>
                        <p>The top right hand corner just underneath a prominent phone number that’s placed
                            next to a “free consultations/ no fees until we win” message. This displays
                            confidence in their abilities, but it also gives viewers a reason to call by
                            reminding them there’s no risk and no cost.</p>
                    </div>
                    <div class="contact_attorney">
                        <ul>
                            <li>Suite 2 & 7 Melbourne, Australia</li>
                            <li>+12 659-8456-645</li>
                            <li>Michaellee78@gmail.com</li>
                            <li>www.michaellee78.com</li>
                        </ul>
                    </div>
                    <div class="attorney_award">
                        <h2>Best Recognitions Awards</h2>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4 col-12">
                                <img src="assets/images/award-1.png">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4 col-12">
                                <img src="assets/images/award-2.png">
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-sm-4 col-12">
                                <img src="assets/images/award-3.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 attorney-pagination">
                    <div class="page_pagination">
                        <ul>
                            <li class="border_show"><a href="#">Previous</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="border_show next_btn"><a href="#">Next</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>Happy To Discuss About Your Requirement</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content
                        <br>of a page when looking at its layout.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a href="#">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>