<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <h2 data-splitting>gallery two column</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <p><a href="#">home</a> <i class="fas fa-circle"></i><a class="active" href="#">gallery
                            two</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery_section">
    <div class="container">
        <div class="gallery_section_header">
            <div class="header_border"> <i class="fas fa-balance-scale"></i>
            </div>
            <h2>Many projects Done that make us Stand out</h2>
        </div>
        <div class="gallery_table">
            <ul id="tabs" class="nav nav-tabs two-tab" role="tablist">
                <li class="nav-item"> <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab"
                        role="tab">all</a>
                </li>
                <li class="nav-item"> <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab"
                        role="tab">cirme</a>
                </li>
                <li class="nav-item"> <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab"
                        role="tab">personal</a>
                </li>
                <li class="nav-item"> <a id="tab-D" href="#pane-D" class="nav-link" data-toggle="tab"
                        role="tab">Family</a>
                </li>
                <li class="nav-item"> <a id="tab-E" href="#pane-E" class="nav-link" data-toggle="tab"
                        role="tab">violence</a>
                </li>
            </ul>
        </div>
        <div id="content" class="tab-content" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
                <div class="gallery-header" role="tab" id="heading-A">
                    <h5 class="mb-0">
                        <!-- Note: `data-parent` removed from here -->
                        <a data-toggle="collapse" href="#collapse-A" aria-expanded="true"
                            aria-controls="collapse-A">
                            Collapsible Group Item A
                        </a>
                    </h5>
                </div>
                <!-- Note: New place of `data-parent` -->
                <div id="collapse-A" class="collapse show" data-parent="#content" role="tabpanel"
                    aria-labelledby="heading-A">
                    <div class="gallery-card-body">
                        <div class="gallery_list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/bg-gellary-img.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img.jpg" title="Gallery-Slider"> <i class="fas fa-search"></i>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/bg-gellary-img-2.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-2.jpg" title="Gallery-Slider">   <i class="fas fa-search"></i>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/bg-gellary-img-3.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-3.jpg" title="Gallery-Slider"> <i class="fas fa-search"></i>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/bg-gellary-img-4.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-4.jpg" title="Gallery-Slider">  <i class="fas fa-search"></i>
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/bg-gellary-img-5.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-5.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/bg-gellary-img-6.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-6.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/bg-gellary-img-7.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-7.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/bg-gellary-img-8.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-8.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                <div class="card-header" role="tab" id="heading-B">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-B" aria-expanded="false"
                            aria-controls="collapse-B">
                            Collapsible Group Item B
                        </a>
                    </h5>
                </div>
                <div id="collapse-B" class="collapse" data-parent="#content" role="tabpanel"
                    aria-labelledby="heading-B">
                    <div class="gallery-card-body">
                        <div class="gallery_list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/cases_img2.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-2.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/cases_img5.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-5.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
                <div class="card-header" role="tab" id="heading-C">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-C" aria-expanded="false"
                            aria-controls="collapse-C">
                            Collapsible Group Item C
                        </a>
                    </h5>
                </div>
                <div id="collapse-C" class="collapse" role="tabpanel" data-parent="#content"
                    aria-labelledby="heading-C">
                    <div class="gallery-card-body">
                        <div class="gallery_list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/cases_img3.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-3.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/cases_img4.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/bg-gellary-img-4.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/cases_img8.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/cases_img8.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img">
                                            <img src="assets/images/cases_img9.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/cases_img9.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pane-D" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-D">
                <div class="card-header" role="tab" id="heading-D">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-D" aria-expanded="false"
                            aria-controls="collapse-D">
                            Collapsible Group Item D
                        </a>
                    </h5>
                </div>
                <div id="collapse-D" class="collapse" role="tabpanel" data-parent="#content"
                    aria-labelledby="heading-D">
                    <div class="gallery-card-body">
                        <div class="gallery_list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/cases_img.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/cases_img.jpg" title="Gallery-Slider">     <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="pane-E" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-E">
                <div class="card-header" role="tab" id="heading-E">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapse-E" aria-expanded="false"
                            aria-controls="collapse-E">
                            Collapsible Group Item E
                        </a>
                    </h5>
                </div>
                <div id="collapse-E" class="collapse" role="tabpanel" data-parent="#content"
                    aria-labelledby="heading-E">
                    <div class="gallery-card-body">
                        <div class="gallery_list">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/cases_img1.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/cases_img1.jpg" title="Gallery-Slider">  <i class="fas fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="gallery_box">
                                        <div class="gallery_box_img light-slider">
                                            <img src="assets/images/cases_img6.jpg" alt="img">
                                            <div class="gallery_search">
                                                <a href="assets/images/cases_img6.jpg" title="Gallery-Slider">   <i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>Happy To Discuss About Your Requirement</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content
                        <br>of a page when looking at its layout.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a href="#">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>