<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <!-- <h2 data-splitting>attorney</h2> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <!-- <p><a href="#">home</a> <i class="fas fa-circle"></i><a class="active" href="#">
                            attorney</a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our_team header_border_main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="header_border"> <i class="fas fa-balance-scale"></i>
                </div>
                <div class="heading_class">
                    <h2>Meet Our Attorney</h2>
                </div>
                <div class="paragraph_class">
                    <p>It is a long established fact that a reader will be distracted by the readable content
                        <br>of a page when looking at its layout.
                    </p>
                </div>
            </div>
        </div>
        <div class="margine_class">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="ot_img">
                        <img src="assets/images/ot_image4.jpg" alt="img">
                        <div class="ot_text">
                            <h4><a href="attorney-single.html">Michael Lee</a></h4>
                            <p><a href="attorney-single.html">Civil Lawyer</a></p>
                            <div class="ot_icon">
                                <ul>
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href=""><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="ot_img">
                        <img src="assets/images/ot_image2.jpg" alt="img">
                        <div class="ot_text">
                            <h4><a href="attorney-single.html">Charlat Hanery</a></h4>
                            <p><a href="attorney-single.html">Family Lawyer</a></p>
                            <div class="ot_icon">
                                <ul>
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href=""><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="ot_img">
                        <img src="assets/images/ot_image3.jpg" alt="img">
                        <div class="ot_text">
                            <h4><a href="attorney-single.html">Daizy Joy </a></h4>
                            <p><a href="attorney-single.html">Business Lawyer</a></p>
                            <div class="ot_icon">
                                <ul>
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href=""><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="ot_img">
                        <img src="assets/images/ot_image4.jpg" alt="img">
                        <div class="ot_text">
                            <h4><a href="attorney-single.html">Edmund Land</a></h4>
                            <p><a href="attorney-single.html">Criminal Lawyer</a></p>
                            <div class="ot_icon">
                                <ul>
                                    <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li> <a href=""><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="margine_class">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="ot_img">
                            <img src="assets/images/ot_image4.jpg" alt="img">
                            <div class="ot_text">
                                <h4><a href="attorney-single.html">Michael Lee</a></h4>
                                <p><a href="attorney-single.html">Civil Lawyer</a></p>
                                <div class="ot_icon">
                                    <ul>
                                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li> <a href=""><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="ot_img">
                            <img src="assets/images/ot_image2.jpg" alt="img">
                            <div class="ot_text">
                                <h4><a href="attorney-single.html">Charlat Hanery</a></h4>
                                <p><a href="attorney-single.html">Family Lawyer</a></p>
                                <div class="ot_icon">
                                    <ul>
                                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li> <a href=""><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="ot_img">
                            <img src="assets/images/ot_image3.jpg" alt="img">
                            <div class="ot_text">
                                <h4><a href="attorney-single.html">Daizy Joy </a></h4>
                                <p><a href="attorney-single.html">Business Lawyer</a></p>
                                <div class="ot_icon">
                                    <ul>
                                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li> <a href=""><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <div class="ot_img">
                            <img src="assets/images/ot_image4.jpg" alt="img">
                            <div class="ot_text">
                                <h4><a href="attorney-single.html">Edmund Land</a></h4>
                                <p><a href="attorney-single.html">Criminal Lawyer</a></p>
                                <div class="ot_icon">
                                    <ul>
                                        <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li> <a href=""><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li> <a href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 attorney-pagination">
                        <div class="page_pagination">
                            <ul>
                                <li class="border_show"><a href="#">Previous</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li class="border_show next_btn"><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>Happy To Discuss About Your Requirement</h2>
                    <p>It is a long established fact that a reader will be distracted by the readable content
                        <br>of a page when looking at its layout.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a href="#">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>