<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <h2 data-splitting>Immigration</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <!-- <p><a href="#">home</a>  <i class="fas fa-circle"></i><a href="#"> services</a>  <i class="fas fa-circle"></i><a class="active" href="services_single.html"> corporate law</a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>  <div class="inner_page_single">
    <div class="container">
        <div class="row">
          
            <div class="col-lg-8 col-md-12 col-12">
                <div class="right_side_single">
                    <div class="right_side_single_img">
                        <img src="assets/images/corporate_law.jpg" alt="img">
                    </div>
                    <p>Experienced immigration solicitors situated in the heart of West Croydon, London.</p>
                    <p>Our Solicitors provide expert legal advice and representation, directly to businesses & private individuals in relation to all aspects of UK immigration law including, visas for both personal matters and business reasons such as Start up & Innovator. Tier 1 (Investors). Sole Representative or UK business visas such as Skilled Worker.</p>
                    <p>We can help assist you with all your immigration matters, including standard immigration applications submitted to the Home Office, as well as complicated appeals heard before the Asylum & Immigration Tribunal</p>
                    <div class="services_single_text">
                        <h4>Fees</h4>
                        
                            <ul>
                                <li>Sponsor Licence - £2,000-£5,000</li>
                                <li>Skilled Worker Visa- £1,950 - £3,000</li>
                                <li>Intra Company Transfer Visa- £1,950-£3,000</li>
                                <li>Representative of an Overseas Business - £4,500 - £6,500</li>
                                <li>Start-up & Innovator - £2,000-£5,500</li>
                                <li>Tier 1 Investor - £4,500-£10,000</li>
                                <li>Tier 1 Entrepreneur - £5,000-£10,000</li>
                                <li>Temporary Visas/Tier 5- £1,500</li>
                                <li>Student Visas - £1,500-£3,000</li>
                                <li>Family Applications - £2,000 - £5,000</li>
                                <li>Visit Visas - £1,500-£4,000</li>
                                <li>EEA Applications - £750 £3,500</li>
                                <li>Settlement & British Citizenship - £1,500 - £4,000</li>
                               
                            </ul>
                        
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="left_side_single">
                    <div class="left_side_content">
                        <div class="left_side_content_list">
                            <h4>Expertise</h4>
                            <hr>
                            <ul>
                                <li><a class="active" routerLink="/immigration">Immigration</a>
                                </li>
                                <li><a routerLink="/conveyancing">Conveyancing</a>
                                </li>
                                <li><a routerLink="/company-law">Company Law</a>
                                </li>
                                <li><a routerLink="/employement-law">Employment law</a>
                                </li>
                                <li><a routerLink="/civil-ligitation">Civil & Commercial Ligitation</a>
                                </li>
                                <li><a routerLink="/will-and-probates">Wills & Probate</a>
                                </li>
                                <li><a routerLink="/family-law">Family Law</a>
                                </li>
                                <li><a routerLink="/criminal-law">Criminal Law</a>
                                </li>
                                <li><a routerLink="/contract-law">Contract Law</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="left_side_content">
                        <div class="consultation_box">
                            <h4>Free Consultation</h4>
                            <form>
                                <div class="form">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <input type="text" class="form-control require" name="full_name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <input type="email" class="form-control require" name="email" data-valid="email" data-error="Email should be valid." placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <textarea class="form-control" name="message" placeholder="Your case"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="response"></div>
                                    <input type="hidden" name="form_type" value="contact" />
                                    <button type="button" class="btn1 submitForm"><span>Send your case</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>SEE HOW ALLIANCE SOLICITOR CAN HELP YOU</h2>
                    <p>To arrange an intial consultation call now on  +44 (0) 20 8774 9481
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a routerLink="contact">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>