<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <h2 data-splitting>Contact Us </h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <!-- <p><a href="#">home</a>  <i class="fas fa-circle"></i><a class="active" href="#"> contact us 1</a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content_touch">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h2>Get in touch with us</h2>
            </div>
        </div>
    </div>
</div>
<div class="contact_page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <form>
                    <div class="contact_form">
                        <div class="contact_form1">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form_input">
                                        <input type="text" placeholder="Full Name *" class="form-control require" name="full_name">
                                        <span class="name"></span>
                                    </div>
                                    <div class="form_input">
                                        <input type="email" placeholder="Email Address *" class="form-control require" name="email">
                                        <span class="email"></span>
                                    </div>
                                    <div class="form_input">
                                        <input type="text" placeholder="Subject" class="form-control require" name="contact_no">
                                        <span class="reply"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form_input">
                                        <textarea class="form-control" placeholder="Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="response"></div>
                            <input type="hidden" name="form_type" value="contact" />
                            <button type="button" class="btn1 submitForm"><span>Send now</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="contact_detail">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div>
                    <h4>Contact Details</h4>
                    <table cellpadding="10" cellspacing="0">
                        <tr>
                            <td>Head Office:</td>
                            <td>Rear of 38 London Road, Cobblestone Place, Croydon, CRO 2TA United Kingdom</td>
                        </tr>
                        <!-- <tr>
                            <td>Branch Office:</td>
                            <td>Webstrot Web Company, 162-A Kalani Bag Dewas, M.P.  India 45500</td>
                        </tr> -->
                        <tr>
                            <td>Phone:</td>
                            <td>+44 (0) 20 8774 9481 
                                </td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>info@aliancesolicitors.com</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="contact_map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3673.644307465103!2d76.04800561444114!3d22.963323124303425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3963179aa37da85d%3A0x9ad74f985a500d01!2sWebstrot%20Technology!5e0!3m2!1sen!2sin!4v1606296417134!5m2!1sen!2sin" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>SEE HOW ALLIANCE SOLICITOR CAN HELP YOU</h2>
                    <p>To arrange an intial consultation call now on  +44 (0) 20 8774 9481
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a routerLink="contact">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>