<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <!-- <h2 data-splitting>pricing plans</h2> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <!-- <p><a href="#">home</a> <i class="fas fa-circle"></i><a class="active" href="#"> pricing
                            plans</a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our_team header_border_main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="header_border"> <i class="fas fa-balance-scale"></i>
                </div>
                <div class="heading_class" >
                    <h2 style="color: #b8824f;">Our pricing plans</h2>
                </div>
              
                <div>
                    <h4 style="color: #b8824f; margin-top: 15px;">Our Fees Explained</h4>
                    <p style="margin-top: 15px;">Understanding how your legal costs are calculated is a subject we take seriously and this is why we only have 3 options available to ensure complete transparency from the outset. We will make sure you have all the information you need from our initial consultation to make an informed choice.s</p></div>
           
            <div>
                <h4 style="color: #b8824f; 
                margin-top: 15px;
            ">Option 1- Fixed Fee</h4>
                <p style="margin-top: 15px;">At Alliance Solicitors the option of a fixed fee is available on most of our matters. You will find below a list of matters with fixed fees. Please note if your matter is not straight forward we will need to discuss your case in full to understand your instructions and once this has been clarified we will then be in a position to offer you a fixed fee or an alternative.</p></div>
       
        <div>
            <h4 style="color: #b8824f; 
            margin-top: 15px;
        ">Option 2 - Hourly Charge</h4>
            <p style="margin-top: 15px;">This is our standard fee structure. This option allows you to appoint a solicitor on an hour by hour basis. The amount you pay for the hour will be based on the experience of the solicitor you would like to appoint. We will discuss the matter with you and will then be in a position to quote you for your matter. Hourly rates at Alliance Solicitors range from £150-£300.</p></div>
    
    <div>
        <h4 style="color: #b8824f; 
        margin-top: 15px;
    " >Option 3-Conditional or Contingent Fee Arrangement</h4>
        <p style="margin-top: 15px;">This option is only available once we have assessed the case in full. We will discuss the case with you on a free one hour consultation. We will then spend 2 hours reviewing and assessing any evidence supplied. There will be no cost involved if we decline the offer to accept your matter we will agree a fee upfront. This fee is normally a percentage paid to Alliance Solicitors from any damages awarded.</p></div>

            <!-- <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="main_pricing">
                    <div class="plan_wrapper">
                        <h4>Economical</h4>
                        <p>This Plan For A New Business</p>
                        <hr>
                    
                        <h2>$50</h2>
                        <p>per hour</p>
                    </div>
                    <div class="menu_plan">
                        <ul>
                            <li>Protecting your intellectual property</li>
                            <li>Telephone assistance</li>
                            <li>Employment contracts</li>
                            <li><del>Tax consultations</del></li>
                            <li><del>Consultation on weekends</del></li>
                            <li><del>Consultation 24 hours day</del></li>
                        </ul>
                        <a href="#">read more<i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="main_pricing">
                    <div class="plan_wrapper">
                        <h4>Standard</h4>
                        <p>This Plan For A New Business</p>
                        <hr>
                        
                        <h2>$100</h2>
                        <p>per hour</p>
                    </div>
                    <div class="menu_plan">
                        <ul>
                            <li>Protecting your intellectual property</li>
                            <li>Telephone assistance</li>
                            <li>Employment contracts</li>
                            <li>Tax consultations</li>
                            <li>Consultation on weekends</li>
                            <li><del>Consultation 24 hours day</del></li>
                        </ul>
                        <a href="#">read more<i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="main_pricing">
                    <div class="plan_wrapper">
                        <h4>Platinum</h4>
                        <p>This Plan For A New Business</p>
                        <hr>
                       
                        <h2>$150</h2>
                        <p>per hour</p>
                    </div>
                    <div class="menu_plan">
                        <ul>
                            <li>Protecting your intellectual property</li>
                            <li>Telephone assistance</li>
                            <li>Employment contracts</li>
                            <li>Tax consultations</li>
                            <li>Consultation on weekends</li>
                            <li>Consultation 24 hours day</li>
                        </ul>
                        <a href="#">read more<i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<div class="pricing_plan2">
    <div class="pricing_plans index2_pricing_plans index2_header_border_main">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="heading_plan">
                        <h2>Our Fees</h2>
                    </div>
                    <div class="paragraph_plan">
                        <p>All prices published below are for guidance only, during the consultation we will assess your matter and based on any complexities prices may vary. We currently do not charge VAT on our professional fees, however there may be VAT payable on disbursements and other costs related to your matter, we will advise you accordingly.
                            <br>All prices quoted below exclude any disbursements. Disbursements are paid to third parties, such as Home Office Application Fees, Document Translation Costs. Independent Expert Fees, Court Fees, Land Registry Fees, Searches & Enquiries, etc.
                        </p>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <h4>£800<br></h4>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper" style="    height: 606px;">
                            <div class="bg_color">
                                <h5>Conveyancing</h5>
                                
                            </div>
                            <ul>
                                <li style="color: black;">Freehold (Purchase/Sell) - £800-£1,500
                                
                                </li>
                                <li  style="color: black;"> Leasehold (Purchase/Sell) - £800 - £1,500
                                </li>
                                <li  style="color: black;">Deed of Variation - £800-£1,500
                                </li>
                               
                            </ul>
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <h4>£100<br></h4>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper" style="    height: 606px;">
                            <div class="bg_color">
                                <h5>Immigration</h5>
                                
                            </div>
                            <ul>
                                <li  style="color: black;">1 Hour Consultation - £100-£250
                                </li>
                                <li  style="color: black;">Business Immigration - £450 £10,000
                                </li>
                                <li  style="color: black;">Private Immigration - £250 £7,500
                                </li>
                                <li style="color: black;">EU/EEA Applications - £500-£3.000
                                </li>
                                <li  style="color: black;">Visitor Visa- £1,000 £2,500
                                </li>
                               
                            </ul>
                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <div class="btc_pricing_box_wrapper">
                        <div class="btc_pricing_icon_wrapper">
                            <div class="btc_pricing_hover_effect">
                                <h4>$150</h4>
                            </div>
                        </div>
                        <div class="btc_pricing_cont_wrapper" style="    height: 606px;">
                            <div class="bg_color">
                                <h5>Other</h5>
                             
                            </div>
                            <ul>
                                <li style="color: black;">Unfair Dismissal & Wrongful Dismissal Cases - £500-£10,000
                                </li>
                                <li  style="color: black;">Other employment issues - £150 - €5,000
                                </li>
                                <li  style="color: black;">Probate (uncontested) - £500-£2,500
                                </li>
                                <li  style="color: black;">Wills-£250 - £1,500
                                </li>
                                <li  style="color: black;">Power of Attorney-£300-£500
                                </li>
                                <li  style="color: black;"> Change of Name Deed - £200
                                </li>
                                <li  style="color: black;">Court of Protection Matters - £500-£2,000
                                </li>
                            </ul>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="faq" style="    background: #1a243f;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="faq_box">
                    <h2>Frequently Asked Questions</h2>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                        href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Why should I trust your firm for my case?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in show" role="tabpanel"
                                aria-labelledby="headingOne">
                                <div class="panel-body">It is a long established fact that a reader will be
                                    distracted by the readable content of a page when looking at its layout. The
                                    point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        What types of cases does your law firm handle?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingTwo">
                                <div class="panel-body">It is a long established fact that a reader will be
                                    distracted by the readable content of a page when looking at its layout. The
                                    point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        What are your opening hours?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="headingThree">
                                <div class="panel-body">It is a long established fact that a reader will be
                                    distracted by the readable content of a page when looking at its layout. The
                                    point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="heading4">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                        data-parent="#accordion" href="#collapse4" aria-expanded="false"
                                        aria-controls="collapse4">
                                        Do you charge for consultations?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel"
                                aria-labelledby="heading4">
                                <div class="panel-body">It is a long established fact that a reader will be
                                    distracted by the readable content of a page when looking at its layout. The
                                    point of using Lorem Ipsum.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="consultation_box">
                    <h2 style="    color: #b8824f;">Free Consultation</h2>
                    <form>
                        <div class="form">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form_input">
                                        <input type="text" class="form-control require" name="full_name"
                                            placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form_input">
                                        <input type="email" placeholder="your email *" class="form-control require"
                                            name="email" data-valid="email" data-error="Email should be valid.">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form_input">
                                        <input type="text" placeholder="Your phone" class="form-control require"
                                            name="contact_no">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form_input">
                                        <select name="law">
                                            <option>Immigration</option>
                                            <option>family Law</option>
                                            <option>Civil & Commercial Litigation</option>
                                            <option>Employment Law</option>
                                            <option>Criminal Law</option>
                                            <option>Conveyancing</option>
                                            <option>Company Law</option>
                                            <option>Wills & Probate</option>
                                            <option>Contract Law</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="form_input">
                                        <textarea class="form-control" placeholder="Your Message"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="response"></div>
                            <input type="hidden" name="form_type" value="contact" />
                            <button type="button" class="btn1 submitForm"><span>Send your case</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>SEE HOW ALLIANCE SOLICITOR CAN HELP YOU</h2>
                    <p>To arrange an intial consultation call now on  +44 (0) 20 8774 9481
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a routerLink="contact">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>