<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <h2 data-splitting>Family Law</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <!-- <p><a href="#">home</a>  <i class="fas fa-circle"></i><a href="#"> services</a>  <i class="fas fa-circle"></i><a class="active" href="services_single.html"> real estate law</a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div> <div class="inner_page_single">
    <div class="container">
        <div class="row">
           
            <div class="col-lg-8 col-md-12 col-12">
                <div class="right_side_single">
                    <div class="right_side_single_img">
                        <img src="assets/images/realestate_law.jpg" alt="img">
                    </div>
                    <p>Staying abreast with a dynamic & constantly changing area of the law, requires a team of dedicated individuals who aspire to deliver the best outcome for you and your family. We understand the sensitive nature in this area of law and this is why we aspire to always be professional and remain effective throughout the critical stages involved in securing your desired outcome.

                        There can be severe financial implications involved with litigation in this area of law, we will always strive to obtain resolution through negotiation and mediation, and issue proceedings only as a last resort.</p>
                    <div class="services_single_text">
                        <h4>We can assist you with the following Services:</h4>
                       <div>
                           <ol>
                               <li>Divorce & Separation</li>
                               <li>Cohabitation Orders</li>
                               <li>Mediation</li>
                               <li>Children Matters</li>
                               <li>Financial Settlements</li>
                               <li>Consent Orders</li>
                               <li>Occupational Orders</li>
                               <li>Non-Molestation Orders</li>
                               
                               <li>Pre-Nuptial and Post-Nuptial Agreements</li>
                           </ol>
                       </div>
                    </div>
               
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
                <div class="left_side_single">
                    <div class="left_side_content">
                        <div class="left_side_content_list">
                            <h4>Expertise</h4>
                            <hr>
                            <ul>
                                <li><a  routerLink="/immigration">Immigration</a>
                                </li>
                                <li><a routerLink="/conveyancing">Conveyancing</a>
                                </li>
                                <li><a  routerLink="/company-law">Company Law</a>
                                </li>
                                <li><a  routerLink="/employement-law">Employment law</a>
                                </li>
                                <li><a  routerLink="/civil-ligitation">Civil & Commercial Ligitation</a>
                                </li>
                                <li><a  routerLink="/will-and-probates">Wills & Probate</a>
                                </li>
                                <li><a class="active" routerLink="/family-law">Family Law</a>
                                </li>
                                <li><a routerLink="/criminal-law">Criminal Law</a>
                                </li>
                                <li><a routerLink="/contract-law">Contract Law</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="left_side_content">
                        <div class="consultation_box">
                            <h4>Free Consultation</h4>
                            <form>
                                <div class="form">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <input type="text" class="form-control require" name="full_name" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <input type="email" class="form-control require" name="email" data-valid="email" data-error="Email should be valid." placeholder="Your Email">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-12">
                                            <div class="form_input">
                                                <textarea class="form-control" name="message" placeholder="Your case"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="response"></div>
                                    <input type="hidden" name="form_type" value="contact" />
                                    <button type="button" class="btn1 submitForm"><span>Send your case</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>SEE HOW ALLIANCE SOLICITOR CAN HELP YOU</h2>
                    <p>To arrange an intial consultation call now on  +44 (0) 20 8774 9481
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a routerLink="contact">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>