<div class="page_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_name">
                    <h2 data-splitting>Legal</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="page_path">
                    <!-- <p><a href="#">home</a>  <i class="fas fa-circle"></i><a class="active" href="#">case grid-2</a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div> <div class="cases_section">
    <div class="container">
        <div class="cases_section_header">
            
           
        </div>
        <p>Alliance Solicitors is a Private Limited Company registered in England and Wales with registration number 10257943. Our registered address is 38 London Road, Rear of 38 London Road, Croydon, CRO 2TA England. We are authorised and regulated by the Solicitors Regulation Authority (License number 631939).</p>
      
<h4 style="margin-top: 25px;">Accuracy of website content</h4>


<p style="margin-top: 25px;"> 
    While we work hard to ensure the Information is considered to be true and correct on this site and up-to-date.. changes in circumstances after the time of publication may impact on the accuracy of the Information. Alliance Solicitors is not in any way liable for the accuracy of any information interpreted by a user. The content in this site is designed to be helpful, it is not legal advice. We therefore disclaim all liability for your use of the information on this site.
    </p>
    
    <h4 style="margin-top: 25px;">Cyber crime and scams</h4>
    <p style="margin-top: 15px;"> <b> Cybercrime  </b> is criminal activity that either targets or uses a computer, a computer network or a networked device. Most, but not all, cybercrime is committed by cybercriminals or hackers who want to make money. Cybercrime is carried out by individuals or organizations
    </p>
    <p style="margin-top: 15px;">A scam is a deceptive scheme or trick used to cheat someone out of something, especially money. Scam is also a verb meaning to cheat someone in such a way. Example: Banks will never call you asking for your credit card number or social security number over the phone..</p>
        <p style="margin-top: 15px;">Scammers can make messages look real. Even if you've previously received legitimate SMS messages from the same number, don't assume all following messages are real. Scammers can 'spoof real phone numbers or email addresses, to make it appear that they come from your actual bank or another legitimate contact.
        </p>
        <p style="margin-top: 15px;"> Scammers try to create a sense of urgency to encourage you to do something quickly. Don't rush - take the time do your research and consider whether a website is real.</p>
<p style="margin-top: 15px;">Action Fraud is the UK's national reporting centre for fraud and cyber crime where you should report fraud if you have been scammed, defrauded or experienced cyber crime. If you have been a victim of a scam, please report via https://www.actionfraud.police.uk/. Alliance Solicitors will always report all incidents of scams and identity fraud to the Solicitors Regulation Authority.</p>
    <p style="margin-top: 15px;">You can find more information about current frauds, cyber crime and scams involving laywers on the Solicitors Regulation Authority website https://www.sra.org.uk/consumers/scam-alerts/scam-alerts.page</p>


<h4 style="margin-top: 25px;">Complaints

    </h4>
    <p style="margin-top: 15px;"> We are committed to providing you with the highest standard of service and your feedback is important to us. However, if you are dissatisfied, you should contact us and let us know as soon as possible. Please email Nazia Munir at nazia.munir@alliancesolicitors.com who will investigate the matter and provide a written response.</p>
    <p style="margin-top: 15px;">We aspire to resolve any issues in a timely manner, however if you have allowed us time (usually at least 8 weeks) to try to resolve the problem and you remain unhappy, you may be entitled to complain to the Legal Ombudsman. Their contact details are:</p>
    <p style="margin-top: 15px;"> Legal Ombudsman
    </p>
<p style="margin-top: 15px;">PO Box 6806</p>
<p style="margin-top: 15px;"> 
    Wolverhampton
</p>
<p style="margin-top: 15px;">WV19WJ</p>
<p style="margin-top: 15px;"> Tel: 0300 555 0333</p>
<p style="margin-top: 15px;">www.legalombudsman.org.uk

</p><p style="margin-top: 15px;">enquiries@legalombudsman.org.uk</p>
<p style="margin-top: 15px;">The Ombudsman will usually expect you to allow us at least 8 weeks to resolve the matter. The time limit for referral of complaints to the Ombudsman is six months from the date of our final response to your complaint. Please see www.legalombudsman.org.uk for further information.</p>









    </div>
</div>
<div class="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-12">
                <div class="contact_us_text">
                    <h2>SEE HOW ALLIANCE SOLICITOR CAN HELP YOU</h2>
                    <p>To arrange an intial consultation call now on  +44 (0) 20 8774 9481
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-12">
                <div class="main_btn"> <a routerLink="contact">contact us</a>
                </div>
            </div>
        </div>
    </div>
</div>